body, html {
  font-family:sans-serif;
}

.sbar {
  height:60px;
  width:500px;
  color:black;
  background:white;
  border:none;
  border-radius:100px;
  text-align:center;
  font-size:20px;
}

.btn {
  height:60px;
  width:200px;
  border:none; 
  border-radius:8px; 
  color:white; 
  background:green; 
  cursor:pointer; 
  transition-duration:300ms;
  font-size:20px;
}

.btn:hover {
  background:red; 
  transiton-duration:300ms;
}

a, a:link, a:visited {
  text-decoration:none; 
  color:lawngreen;
}

a:hover, a:visited:hover {
  color:red; 
  text-decoration:none;
}
